.joke-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  border: black solid 1px;
  padding: 10px;
  margin-bottom: 20px;
}